<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<div class="row">
  <% for entry in @entries.where({"user_id" => session["user_id"]}) %>
    <div class="col-3 card mx-2 my-2">
      <h3><%= entry["title"] %></h3>
      <h4><%= entry["occurred_on"] %></h4>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
</div>

<% if User.find_by({"id" => session["user_id"]}) %>
  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
  </p>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>